dataset/rnn_data_set/

neurons_windows/.vs/
neurons_windows/Release/
neurons_windows/Debug/
neurons_windows/x64/
neurons_windows/neurons/Release/
neurons_windows/neurons/Debug/
neurons_windows/neurons/x64/
neurons_windows/test/Release/
neurons_windows/test/Debug/
neurons_windows/test/x64/
neurons_windows/cnn/Release/
neurons_windows/cnn/Debug/
neurons_windows/cnn/x64/
neurons_windows/rnn/Release/
neurons_windows/rnn/Debug/
neurons_windows/rnn/x64/
neurons_windows/dnn/Release/
neurons_windows/dnn/Debug/
neurons_windows/dnn/x64/
neurons_windows/dataset/x64/
neurons_windows/misc/x64/
neurons_windows/misc/Release/
neurons_windows/misc/Debug/

neurons_linux/test/obj/
neurons_linux/test/bin/
neurons_linux/dataset/obj/
neurons_linux/dataset/bin/
neurons_linux/neurons/obj/
neurons_linux/neurons/bin/
neurons_linux/dnn/obj/
neurons_linux/dnn/bin/
neurons_linux/cnn/obj/
neurons_linux/cnn/bin/

neurons_linux/.vs/
